@tailwind base;
@tailwind components;
@tailwind utilities;

/* 카페24 폰트 */
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Simplehae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Dangdanghae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Syongsyong";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  /* 폰트 패밀리 설정 */
  .font-pretendard {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
      sans-serif;
  }

  .font-noto-sans {
    font-family: var(--font-noto-sans), sans-serif;
  }

  .font-nanum-gothic {
    font-family: var(--font-nanum-gothic), sans-serif;
  }

  .font-nanum-myeongjo {
    font-family: var(--font-nanum-myeongjo), serif;
  }

  .font-nanum-pen {
    font-family: "NanumPen", cursive;
  }

  .font-nanum-brush {
    font-family: "NanumBrush", cursive;
  }

  .font-spoqa {
    font-family: "Spoqa Han Sans Neo", sans-serif;
  }

  .font-wanted {
    font-family: "Wanted Sans Variable", sans-serif;
  }

  /* 카페24 폰트 */
  .font-cafe24-surround {
    font-family: "Cafe24Ssurround", sans-serif;
  }

  .font-cafe24-surround-air {
    font-family: "Cafe24SsurroundAir", sans-serif;
  }

  .font-cafe24-ohsquare {
    font-family: "Cafe24Ohsquare", sans-serif;
  }

  .font-cafe24-simplehae {
    font-family: "Cafe24Simplehae", sans-serif;
  }

  .font-cafe24-dangdanghae {
    font-family: "Cafe24Dangdanghae", sans-serif;
  }

  .font-cafe24-syongsyong {
    font-family: "Cafe24Syongsyong", cursive;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
